.cr-form-comp{
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
.cr-form-tabl{
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
}
.cr-form-mobi{
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
