.carInfoForm {
    margin-right: 4%;
    margin-left: 4%;
    /* margin-bottom: 10%; */
    /* padding-top: 3%; */
    padding-right: 3%;
    padding-left: 3%;
    /* padding-bottom: 4%; */
}  
.layout {
    /* background-color: #F8F9F9; */
    margin-bottom: 10%;
}